:root {
    --color-primary: #86B817;
    --color-text-secondary: #484a4a;
}

.packeges_card_div {
    margin: 0 20px 40px 20px;
    /* padding: 0 20px; */
    flex: 1 0 auto;
    background-color: #fff;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);

}

.packeges_card_div:hover .card_img_div> img {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: all .3s ease-in-out;
}
/* 
.packages_inner_card {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
} */

.card_img_div {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

.card_img_div img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    transition: all .3s ease-in-out;
}

.card_info_div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid #dee2e6;
    height: 100%;
}

.card_description_inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.card_icon {
    color: var(--color-primary);
}

.card_inner_price {
    font-size: 28px;
    font-family: "rale-semibold",sans-serif;
    color: #2C3E50;
    margin-bottom: 15px;
}

.card_description {
    height: 100%;
    font-size: 16px;
    text-align: center;
    font-family: "rale-medium",sans-serif;
    color: var(--color-text-secondary);
}

.card_img_div {
    width: 100%;
}

.card_img_div img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

.card_info_inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.card_info_inner:not(:last-child) {
    border-right: 1px solid #dee2e6;
}

.card_info_inner p {
    padding: 8px 0;
    font-family: "rale-regular",sans-serif;
    font-size: 14px;
    color: var(--color-text-secondary);
}

.card_icon {
    color: var(--color-primary);
}

.card_inner_description {
    padding: 24px;
}
