:root {
    --color-primary: #86B817;
    --color-text-secondary: #484a4a;
    --color-header:#2c3e50;
}

.galleryInner_inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.galleryInner_icon {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    color: var(--color-header);
}

.galleyInner_header {
    color: var(--color-primary);
    font-family: 'rale-bold';
    font-size: 42px;
    margin-top: 30px;
    letter-spacing: 1.7px;
}

.galleryInner_images_div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -webkit-display: grid;
    -ms-display: grid;
    gap: 30px;
    width: 90%;
    margin: 30px auto;
}

.galleryInner_images_div>img{
    box-shadow: 0 8px 10px rgba(0,0,0,0.2);
    border-radius: 8px;
}


@media only screen and (max-width: 990px) {
    .galleryInner_images_div {
        grid-template-columns: repeat(3, 1fr);
    }

    .galleyInner_header{
        font-size: 38px;
    }
}

@media only screen and (max-width: 700px) {
    .galleryInner_images_div {
        grid-template-columns: repeat(2, 1fr);
    }

    .galleyInner_header{
        font-size: 34px;
    }
}

@media only screen and (max-width: 460px) {
    .galleryInner_icon {
        top: 25px;
        left: 25px;
        height: 25px;
        width: 25px;
    }

    .galleryInner_images_div {
        margin: 20px auto;
        grid-template-columns: repeat(1, 1fr);
    }

    .galleyInner_header{
        font-size: 28px;
    }
}