:root {
    --color-primary: #86B817;
}

.nav_inner {
    width: 100%;
    border-bottom: 1px solid rgba(256, 256, 256, .1);
    left: 0;
    z-index: 100;
    /* background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)); */
}

.nav_inner_container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_logo_div {
    cursor: pointer;
    width: 100px;
    height: fit-content;
}

.nav_logo_div img{
    width: 100%;
    object-fit: contain;
}

.nav_list_container ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    list-style: none;
}

.nav_list_container ul li {
    list-style: none;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    font-family: "rale-semibold",sans-serif;
    padding: 35px 0 40px 0;
    transition: all .5s linear;
}

.nav_list_container ul li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: #86B817;
    border-radius: 3px;
    transition: width 0.5s ease-in-out;
}

.nav_list_container ul li:hover {
    color: #86B817;
}

.nav_list_container ul li:hover::after {
    width: 100%;
}

.nav_list_container ul li.active {
    color: var(--color-primary);
}
  
.nav_list_container ul li.active::after {
    width: 100%; 
}

.nav_inner.navigation_active {
    background-color: #fff;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid rgba(256, 256, 256, .1);
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);    
}

.nav_inner.navigation_active .nav_list_container li {
    color: #222;
    padding: 35px 0;
}

.nav_inner.navigation_active .nav_list_container li.active {
    color: var(--color-primary);
    /* padding: ; */
} 

.nav_inner.navigation_active .nav_list_container li:hover {
    color: #86B817;
}

.nav_burger_container {
    padding: 10px 5px;
    display: none;
    cursor: pointer;
}

.nav_burger_container:hover .nav_burger {
    /* margin: 3px 0; */
    /* transform: scale(1.1); */
    transition: all .5s ease-in-out;
}

.nav_burger_button {
    transition: all .5s ease-in-out;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

.nav_burger {
    width: 25px;
    height: 3px;
    background-color: #fff;
}

.nav_burger, .nav_burger::before, .nav_burger::after {
    width: 25px;
    height: 2.5px;
    border-radius: 10px;
    background-color: #fff;
    display: inline-block;
}

.nav_burger::before, .nav_burger::after {
    content: '';
    position: absolute;
    left: 0;
    /* border: 1px solid #161616; */
}

.nav_burger::before {
    top: -10px;
}

.nav_burger::after {
    top: 10px;
}
.nav_lang_item{
    color: #fff;
}
.nav_inner.navigation_active .nav_lang_item {
    color: #222;

}

.nav_inner.navigation_active .nav_burger {
    background-color: #222;
}

.nav_inner.navigation_active .nav_burger::before {
    background-color: #222;
}

.nav_inner.navigation_active .nav_burger::after {
    background-color: #222;
}

.nav_inner.navigation_active .nav_lang_inner_div>div {
    color: #222 !important;
}

.nav_burger_sticky_div {
    /* padding: 20px 40px; */
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* transform: translateY(-130%); */
    transition: all .5s ease-in-out;
    box-shadow: 0 5px 5px rgba(0,0,0,.3);
}

.nav_burger_sticky_inner_div {
    width: 90%;
    margin: 0 auto;
    padding:  10px 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.nav_burger_sticky_inner_div ul {
    padding: 0 20px;
    width: 100%;
}

.nav_burger_sticky_inner_div ul li:not(:last-child) {
    padding-bottom: 5px;
    border-bottom: 1px solid #777;
}

.nav_burger_sticky_inner_div ul li {
    width: 100%;
    font-size: 18px;
    font-family: "rale-bold",sans-serif;
    margin: 5px 0;
    cursor: pointer;
}

.nav_burger_sticky_inner_div ul li:hover {
    transition: all .3s ease-in-out;
    color: var(--color-primary);
}

.nav_burger_sticky_button button {
    background-color: #fff;
    font-size: 18px;
    font-family: "rale-bold",sans-serif;
}

@media only screen and (max-width: 990px) {
    .nav_inner {
        top: 0 !important;
    }

    .nav_burger_container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .nav_list_container {
        display: none;
    }

    .nav_inner_container {
        padding: 10px 0;
    }
}

@media only screen and (max-width: 460px) {
    .nav_lang_inner_div {
        top: 50px !important;
    }

    .nav_logo_div {
        width: 75px;
    }
}
