:root {
    --color-primary: #86B817;
    --color-text-secondary: #808B8D;
}

.newscard_container {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 0 10px 15px rgba(0,0,0,.2);
    cursor: pointer;
}

.newscard_img_div {
    width: 100%;
}

.newscard_img_div img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

.news_card_text_div {
    text-align: center;
    padding: 10px 15px;
}

.news_card_text_div h1 {
    color: var(--color-primary);
    font-size: 22px;
    font-family: "rale-bold",sans-serif;
    margin-bottom: 5px;
}

.news_card_text_div {
    font-size: 16px;
    color: var(--color-text-secondary);
    font-family: "rale-medium",sans-serif;
    width: 100%;
}